[user]
	name = Weed Lakmar
	email = weedlable@gmail.com
[color]
	ui = true
[core]
#Также указан жесткий путь
	editor =/opt/homebrew/bin/nvim
[diff]
#Название своего варианта
	tool = shvimdiff
[difftool "shvimdiff"]
#Сделал "кастомный" vimdiff - казал жеский путь к vimdiff MacVim, так как обычный не дружил с UltiSnips
	cmd = sh -c \"/opt/homebrew/bin/nvim -d \\\"$LOCAL\\\" \\\"$REMOTE\\\"\"
[merge]
    tool = nvim
[mergetool "nvim"]
    cmd = nvim -d "$LOCAL" "$BASE" "$REMOTE" "$MERGED"
    trustExitCode = true

